{% extends 'base.html' %} {% set active_page = "gallery" %} {% block content %}

<!--Section Gallery-->
<!--Three columns of images on large devices. Two on Medium. 1 on small.-->
<section>
    <div class="container">
        <div class="row pl-4 pr-4 mb-5 pb-5 mt-5 align-items-center gallery-padding-top">
            <div class="col-sm-6 mb-5 mt-3 pb-5">
                <img src="static/images/gallery-image-6.png" onclick="openModal();currentSlide(1)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
            <div class="col-sm-6 mb-5 mt-3 pb-5">
                <img src="static/images/gallery-image-3.png" onclick="openModal();currentSlide(2)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
            <div class="col-sm-6 mb-5 mt-3 pb-5">
                <img src="static/images/gallery-image-5.png" onclick="openModal();currentSlide(3)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
            <div class="col-sm-6 mb-5 mt-3 pb-5">
                <img src="static/images/gallery-image-1.png" onclick="openModal();currentSlide(4)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
            <div class="col-sm-6 mb-5 mt-3 pb-5">
                <img src="static/images/gallery-image-4.png" onclick="openModal();currentSlide(5)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
            <div class="col-sm-6 mb-5 mt-3 gallery-padding-bottom">
                <img src="static/images/gallery-image-2.png" onclick="openModal();currentSlide(6)" class="img-fluid d-block mx-auto gallery-images rounded hover-shadow" alt="Lisa Fairfield" />
            </div>
        </div>
        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="static/images/gallery-image-6.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="static/images/gallery-image-3.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="static/images/gallery-image-5.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="static/images/gallery-image-1.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>
                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="static/images/gallery-image-4.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>
                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="static/images/gallery-image-2.png" style="width: 100%;" alt="Lisa Fairfield" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black d-xl-none">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</section>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}
