{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}

        <!--Section Hero Image-->
        <section class="container">
            <div class="row pt-5 mb-5 pb-1">
                <div class="col-12 mb-0">
                    <img src="static/images/hero-image.jpg" class="mx-auto d-block section-hero-image" alt="Lisa Fairfield Actress" />
                </div>
            </div>
        </section>
        <!--Divider to allow spaving with toggle used-->
        <div class="row mb-5">
            <div class="col"></div>
        </div>

{% endblock %}
