{% extends 'base.html' %} {% block content %}

        <!--Section Hero Image-->
        <section class="container">
            <div class="row pt-5 pb-1">
                <div class="col-12 mb-0">
                    <img src="assets/images/hero-image.jpg" class="mx-auto d-block section-hero-image" alt="Lisa Fairfield Actress" />
                </div>
            </div>
            <!--Divider to allow spaving with toggle used-->
            <div class="row mt-5 mb-5">
                <div class="col"></div>
            </div>
        </section>

{% endblock %}
