{% extends 'base.html' %} {% block content %}

<section>
    <div class="container">
        <div class="row mb-5 profile-margin">
            <div class="col-12">
                <!--Image/ Table for lg-->
                <div class="row mb-5">
                    <div class="col-6 d-none d-md-block text-center">
                        <img src="static/images/profile.png" class="profile" alt="Lisa Fairfield Actress" />
                    </div>
                    <table class="table table-borderless table-sm col-6 d-none d-md-block my-auto">
                        <thead>
                            <tr>
                                <th scope="col">Height</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" style="font-weight: normal;">5'7</th>
                            </tr>
                            <tr>
                                <th scope="col">Build</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" style="font-weight: normal;">Slim</th>
                            </tr>
                            <tr>
                                <th scope="col">Hair</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" style="font-weight: normal;">Light Brown</th>
                            </tr>
                            <tr>
                                <th scope="col">Eyes</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" style="font-weight: normal;">Green</th>
                            </tr>
                            <tr>
                                <th scope="col">Playing Age</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" style="font-weight: normal;">30-40</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <!--Image/ Table for sm-->
                <div class="row mb-5 d-md-none">
                    <div class="col-12 text-center">
                        <img src="assets/images/profile.png" class="profile" alt="Lisa Fairfield Actress" />
                    </div>
                </div>
                <table class="table table-borderless table-sm d-md-none">
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Height</th>
                            <th scope="col" style="font-weight: normal;">5'7</th>
                        </tr>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Build</th>
                            <th scope="col" style="font-weight: normal;">Slim</th>
                        </tr>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Hair</th>
                            <th scope="col" style="font-weight: normal;">Light Brown</th>
                        </tr>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Eyes</th>
                            <th scope="col" style="font-weight: normal;">Green</th>
                        </tr>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Playing Age</th>
                            <th scope="col" style="font-weight: normal;">30-40</th>
                        </tr>
                    </thead>
                </table>
                <div class="row">
                    <div class="col-12 mt-5 mb-3">
                        <p class="section-headers"><i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Achievements</p>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Qualification</th>
                            <th scope="col" class="text-right">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>'Acting Diploma' Academy of Creative Training (ACT)</td>
                            <td class="text-right">2005-07</td>
                        </tr>
                        <tr>
                            <td>Meisner Technique Training</td>
                            <td class="text-right">2005 (4 Mths)</td>
                        </tr>
                        <tr>
                            <td>Forum Theatre Augustus Boal Weekend Workshop</td>
                            <td class="text-right">2005</td>
                        </tr>
                        <tr>
                            <td>Physical Theatre and Body Voice Training with Britt Forsberg</td>
                            <td class="text-right">2005</td>
                        </tr>
                        <tr>
                            <td>'Foundation in Acting' Academy of Creative Training (ACT)</td>
                            <td class="text-right">2004-05</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col mt-5 mb-3">
                        <p class="section-headers"><i class="fas fa-theater-masks"></i>&nbsp;&nbsp;&nbsp;Theatre Experience</p>
                    </div>
                </div>
                <!--Table for desktop-->
                <table class="table table-striped d-none d-md-block">
                    <thead>
                        <tr>
                            <th scope="col">Perfomance</th>
                            <th scope="col">Role</th>
                            <th scope="col">Company</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Playhouse Creatures by April de Angelis</td>
                            <td>Mrs Farley</td>
                            <td>Bryteye Productions</td>
                            <td>All Saints, Lewes</td>
                            <td>2014</td>
                        </tr>
                        <tr>
                            <td>Gabriel by Moira Buffini</td>
                            <td>Lily</td>
                            <td>Bryteye Productions</td>
                            <td>All Saints, Lewes</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>Blackbird</td>
                            <td>Una</td>
                            <td>The Players’ Collective</td>
                            <td>Marlborough Theatre</td>
                            <td>2011</td>
                        </tr>
                        <tr>
                            <td>David Harrower Lysistrata</td>
                            <td>Myrene</td>
                            <td>The Players’ Collective</td>
                            <td>All Saints, Lewes</td>
                            <td>2011</td>
                        </tr>
                        <tr>
                            <td>Kvetch, Stephen Berkoff</td>
                            <td>Donna</td>
                            <td>Theatre 21</td>
                            <td>BMC, Brighton Fringe Festival</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>In Lambeth, Jack Shepherd</td>
                            <td>Catherine Blake</td>
                            <td>Love and Madness</td>
                            <td>St Joseph Theatre, Scarborough</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>Lady of Dubuque, Edward Bond</td>
                            <td>Lucinda</td>
                            <td>Salt Season</td>
                            <td>Lewes Theatre</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>Bite Size Plays</td>
                            <td>Various</td>
                            <td>White Room Theatre</td>
                            <td>Bedlam Theatre, Edinburgh Festival</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>The Real Inspector Hound</td>
                            <td>Cynthia</td>
                            <td>Lewes Little Theatre</td>
                            <td>Lewes Little Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Blood Brothers</td>
                            <td>Mrs Johnston</td>
                            <td>Lewes Little Theatre</td>
                            <td>Lewes Little Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Role Play for OSCE</td>
                            <td>Various</td>
                            <td>Brighton Role Play</td>
                            <td>Brighton Hospital</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Tell Someone Who Cares</td>
                            <td>Sandy</td>
                            <td>White Room Theatre</td>
                            <td>Sally Bennis Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Bite Size Plays</td>
                            <td>Various</td>
                            <td>White Room Theatre</td>
                            <td>Roman Eagle Lodge, Edinburgh Festival Fringe First nomination</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>4 month Theatre in Education Tour</td>
                            <td>Various</td>
                            <td>Rainbow Theatre</td>
                            <td>Southern County Schools</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Cinderella</td>
                            <td>Cinderella</td>
                            <td>Rainbow Theatre</td>
                            <td>Southern County Schools</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Once a Catholic</td>
                            <td>Mary McGInty</td>
                            <td>ACT</td>
                            <td>Brighton Pavillion</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Christmas Carol</td>
                            <td>Niece</td>
                            <td>ACT</td>
                            <td>The Nightingale, Brighton</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Preston Manor</td>
                            <td>Housekeeper</td>
                            <td>Brighton Museum</td>
                            <td>Preston Manor</td>
                            <td>2008</td>
                        </tr>
                    </tbody>
                </table>
                <!--Table for small-->
                <table class="table table-striped d-md-none">
                    <thead>
                        <tr>
                            <th scope="col">Perfomance</th>
                            <th scope="col">Company</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Playhouse Creatures by April de Angelis</td>
                            <td>Bryteye Productions</td>
                            <td>2014</td>
                        </tr>
                        <tr>
                            <td>Gabriel by Moira Buffini</td>
                            <td>Bryteye Productions</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>Blackbird</td>
                            <td>The Players’ Collective</td>
                            <td>2011</td>
                        </tr>
                        <tr>
                            <td>David Harrower Lysistrata</td>
                            <td>The Players’ Collective</td>
                            <td>2011</td>
                        </tr>
                        <tr>
                            <td>Kvetch, Stephen Berkoff</td>
                            <td>Theatre 21</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>In Lambeth, Jack Shepherd</td>
                            <td>Love and Madness</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>Lady of Dubuque, Edward Bond</td>
                            <td>Salt Season</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>Bite Size Plays</td>
                            <td>White Room Theatre</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>The Real Inspector Hound</td>
                            <td>Lewes Little Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Blood Brothers</td>
                            <td>Lewes Little Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Role Play for OSCE</td>
                            <td>Brighton Role Play</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Tell Someone Who Cares</td>
                            <td>White Room Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Bite Size Plays</td>
                            <td>White Room Theatre</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>4 month Theatre in Education Tour</td>
                            <td>Rainbow Theatre</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Cinderella</td>
                            <td>Rainbow Theatre</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Once a Catholic</td>
                            <td>ACT</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Christmas Carol</td>
                            <td>ACT</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>Preston Manor</td>
                            <td>Brighton Museum</td>
                            <td>2008</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col mt-5 mb-3">
                        <p class="section-headers"><i class="fas fa-film"></i>&nbsp;&nbsp;&nbsp;Film Experience</p>
                    </div>
                </div>
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Perfomance</th>
                            <th scope="col">Company</th>
                            <th scope="col" class="text-right">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daddy Loves Lola</td>
                            <td>London Film School</td>
                            <td class="text-right">2006</td>
                        </tr>
                        <tr>
                            <td>Slimfast Commercial</td>
                            <td>London Film School</td>
                            <td class="text-right">2006</td>
                        </tr>
                        <tr>
                            <td>'View' (Short Film)</td>
                            <td>Brian Franklin Productions</td>
                            <td class="text-right">2006</td>
                        </tr>
                    </tbody>
                </table>
                <!--Divider to allow spaving with toggle used-->
                <div class="row mt-5 mb-5">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black d-xl-none">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>

</section>
        
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}

