{% extends 'base.html' %}
{% set active_page = "showreels" %}

{% block content %}

<!--Section Showreels-->
<section class="container">
    <div class="row mt-5 pb-5">
        <div class="col-12 text-center">
            <p class="section-text-showreels text-muted"><i class="fas fa-x2 fa-microphone-alt"></i>&ensp;&ensp;Commercial Montage</p>
            <audio controls class="audio-border">
                <source src="static/showreels/commercial-montage.mp3" type="audio/mpeg" />
                Your browser does not support the audio tag.
            </audio>
        </div>

        <!--Block Divider-->
        <div class="col-12">
            <div class="showreel-block-divider mx-auto"></div>
        </div>

        <div class="col-12 text-center">
            <p class="section-text-showreels text-muted"><i class="fas fa-x2 fa-microphone-alt"></i>&ensp;&ensp;Gaming Montage</p>
            <audio controls>
                <source src="static/showreels/gaming-montage.mp3" type="audio/mpeg" />
                Your browser does not support the audio tag.
            </audio>
        </div>

        <!--Block Divider-->
        <div class="col-12">
            <div class="showreel-block-divider mx-auto"></div>
        </div>

        <div class="col-12 text-center mb-5 pb-5">
            <p class="section-text-showreels text-muted"><i class="fas fa-x2 fa-microphone-alt"></i>&ensp;&ensp;Narration Montage</p>
            <audio controls>
                <source src="static/showreels/narration-montage.mp3" type="audio/mpeg" />
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>

</section>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/audio.js') }}"></script>

{% endblock %}